.explore {
  margin: 100px 0 0;
  padding: 50px 0;
  background-image: url(../../assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Poppins", sans-serif;
}

.explore h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  color: rgba(9, 51, 4, 1);
  margin-bottom: 20px;
}

.explore .sub__title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.explore .grid {
  margin: 70px 0 0;
}

.explore .box {
  background: #fff;
  border-radius: 30px;
  padding: 10px;
}

.explore .box img {
  border-radius: 30px 30px 30px 0;
}

.explore .box .content {
  width: 90%;
  margin: 10px auto;
}

.explore .content h4 {
  font-weight: 600;
  font-size: 22px;
  color: rgba(19, 141, 43, 1);
}

.explore .content small {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: rgba(121, 134, 159, 1);
}

.explore .content .experience {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: rgba(10, 4, 60, 1);
}

.btn__wrapper {
  width: 30%;
  margin: 40px auto 20px;
}

.explore .btn {
  width: 100%;
  color: #fff;
}

/* media query */

@media (max-width: 1024px) {
  .explore .sub__title {
    width: 80%;
  }

  .explore .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .explore .box {
    padding: 15px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .explore {
    width: 100vw;
    overflow: hidden;
  }

  .explore h3 {
    font-size: 30px;
    line-height: 30px;
  }

  .explore .grid {
    margin-top: 30px;
  }

  .explore .sub__title {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .explore .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .explore .box {
    width: 300px;
    margin: 0 auto;
  }

  .explore .btn__wrapper {
    width: 100%;
  }
}
