@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100vw;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.inner__container {
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  border: 1px solid transparent;
  background: #009617;
  color: #fff;
  padding: 15px 25px;
  margin: 30px auto;
  border-radius: 7.5px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  border-color: #009617;
  background: transparent;
  color: #009617;
}

/* media query */

@media (max-width: 1024px) {
  .inner__container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .btn {
    padding: 15px 25px;
    width: 100%;
  }
}
